name: Publish

on:
  pull_request:
    branches: ['*']
  push:
    branches:
      - "master"
  schedule:
    - cron: '0 4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install & Build
      run: |
        mkdir public
        cd ./modules/guard-cli
        npm ci
        npm run build
      env:
        CI: true
    - name: Generate AllowList
      run: |
        node ./modules/guard-cli/dist/main.js generate \
        --name AdGuard-Home-List.Allow.txt \
        --badge badge-allow.json \
        --external ./allowlist/external \
        --custom ./allowlist/custom \
        --concatExternal ./allowlist/concat \
        --convertToAllow \
        --output ./public
    - name: Generate BlockList
      run: |
        node ./modules/guard-cli/dist/main.js generate \
        --name AdGuard-Home-List.Block.txt \
        --badge badge-block.json \
        --external ./blocklist/external \
        --custom ./blocklist/custom \
        --concatExternal ./blocklist/concat \
        --output ./public
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        folder: public
        clean: true
        single-commit: true
        force: true
